body {
    background-color: #eeeeee;
}

#container {
    overflow-x: hidden;
}

#header {
    margin: 20px;
    border-radius: 20px;
    background-color: #1879FF;
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-weight: bold;
    height: 70px;
    font-size: 25px;
}

#logo {
    width: 15%;
    height: 40px;
    float: left;
}

#headtext {
    width: 30%;
}

#clinic {
    float: right;
    width: 20%;
}

#login {
    text-align: right;
    width: 20%; 
    float: right;  
}

#page {
    background: url("img/DW32.png");
    height: 80%;
}

.menu1 {
    width: 270px;
    height: 90%;
    float: left;
    border-radius: 25px;
    border:solid black 1px; 
    background-color: lightgrey;
    opacity: 0.73;
}

.menu1button a {
    margin: 15px;
    width: 85%;
    height: 60px;
    font-size: 1.5em;
    font-weight: 500;
    border: black 1px solid;
    background-color: aqua;
    border-radius: 25px !important;
}

.menu1button a:hover {
    background-color: bisque;
}

.content {
    padding: 25px;
    float: right;
    width: 70%;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    width: 100%;
    text-align: center;  
}

.footer hr {
    margin-top: 2px;
    margin-bottom: 8px;
}

hr {
    border-color: black;
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    /* xpadding: 15rem 0; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("img/DW32.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

