<!DOCTYPE html>{% load i18n %}{% get_current_language as LANGUAGE_CODE %}
<html class="h-100" lang="{{ LANGUAGE_CODE }}">
<head>
    <META charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        {% block title %}
        {{ page_title|default:"DanBots Live Site" }}
        {% endblock title %}
    </title>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'web/site.css' %}" /> -->
        <link rel="stylesheet" type="text/css" href="{% static 'website.css' %}" />
        <!-- <link rel="apple-touch-icon" href="{% static "pic/dv192.png" %}" type="image/png"  sizes="192x192" > -->
    <!-- <link rel="manifest" href="{% static 'web/manifest.json' %}" crossorigin="use-credentials"> -->
    <!-- <meta name="theme-color" content="#2196F3"> -->
    {% block header %}
    {% endblock %}
</head>

<body class="xmasthead d-flex flex-column h-100">
    <div class="container-fluid h-100">
        <div id="header" class="row">
            <div id="logo" class="xcol-2">
                <img class="logo" src="{% static 'logo75x75.png' %}" alt="logo" /> 
            </div>
            <div id="headtext" class="xcol-9 xtext-center ">
                Danbots Scanner
            </div>
            <div id="clinic" class="xcol-3">
                <div id="clinicname" class="d-none d-lg-block">
                    {% if user.is_authenticated %}
                    <p>Login: {{ user.username }} {#{{ user.first_name }} {{user.last_name}}#}</p>
                    <p>Clinic: {{ clinic_name }}</p>
                    {% endif %}
                </div>
            </div>
        </div> <!-- header -->

        {% include 'menu.html' %}

        <div class="flex-shrink-0 body-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer class="footer mt-auto  py-1">
        <hr>
        <div class="xcontainer mx-auto" id="footer">
            {{ date }} &nbsp; &nbsp; <a href="http://info.danbots.com">© DanBots 2021</a>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
        integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
    {% block script %}
    {% endblock %}
</body>
</html>
