{% load static %}
<div id="menu" class="menu1">
    <!-- Navigation Menu1 -->
    <nav class="">
        <ul class="nav flex-column nav-pills nav-fill menu1button" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'clinic' %}" data-toggle="pill" role="tab" xaria-controls="home" xaria-selected="true" ><i class="fa fa-home"></i>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'scan_pic' %}" data-toggle="pill" xrole="tab" xaria-selected="false" >Scan Picture</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'selectscan' %}">Scan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'selectscan' %}">Results</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCla" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Clinic Adm
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownCla">
                    <a class=" text-info dropdown-item" href="/">Create dentist login</a>
                    <a class=" text-info dropdown-item" href="/">Tilknyt scanner</a>
                    <a class=" text-info dropdown-item" href="/">Adm / accounting</a>
                </div>
            </li>
            <a class=" text-info dropdown-item" href="{% url 'clinicadm' %}">Create Clinik</a>
        </ul>
    </nav>
    <script>
        $(".nav li").on("click", function() {
            $(".nav li").removeClass("active");
            $(this).addClass("active");
        });
    </script>
</div> <!-- menu1 -->