{% extends "base.html" %}

{% load static %}

{% block content %}
<h2>Billeder</h2>

<div>
{% for p in pic %}
    <div style="float: left; margin: 15px;">
    <img src="{{ p }}"  height="100" alt="P" title="{{ p }}" /><br>
    <p style="font-size: 0.8em;">{{ p }}</p>
</div>
{% endfor %}
  </div>

      <hr />
<h3>Folders</h3>
<div>
{% for f in folder %}
    <a href="?folder={{ f }}" >{{ f }}</a>&nbsp;&nbsp;
{% endfor %}
</div>
<br>
<a href="{% url 'show_pic' %}">Back</a>

</div>

{% endblock %}
