{% load static %}
<div id="menu" class="menu1">
    <!-- Navigation Menu1 -->
    <nav class="">
        <ul class="nav flex-column nav-pills nav-fill menu1button" role="tablist">
            <li class="nav-item">
                <a id="menu1_home" class="nav-link" href="{% url 'clinic' %}" xdata-toggle="pill" xrole="tab"><i
                        class="fa fa-home"></i>Home</a>
            </li>
            <li class="nav-item">
                <a id="menu1_scanpic" class="nav-link" href="{% url 'scan_pic' %}" xdata-toggle="pill" xrole="tab">Scan
                    Picture</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'show_pic' %}">Show Pictures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Results</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'show_picture' %}">Take Picture</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownCla" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Clinic Adm
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownCla">
                    <a class=" text-info dropdown-item" href="/">Create dentist login</a>
                    <a class=" text-info dropdown-item" href="/">Tilknyt scanner</a>
                    <a class=" text-info dropdown-item" href="/">Adm / accounting</a>
                </div>
            </li>
        </ul>
    </nav>

    <!-- $(".nav li").on("click", function() {
            console.log("shift");
            $(".nav li").removeClass("active");
            $(this).addClass("active");
        }); -->

</div> <!-- menu1 -->