{% extends "base.html" %}

{% load static %}

{% block content %}
<h2>Scanning</h2>

<div id="scannerview">
    <!-- <img id="scan1" src="http://danwand.local:8080/"  xheight="300" alt="scanner" title="Dette er billed fra scanneren"  /> -->
    <img id="scan1" src="{{ scan_url }}"  height="200px" min-width="200px" alt="scanner" title="Scanning...."  />
    <img id="pic1" src="{{ pic_url }}"  height="200px" alt="picture" title="Last Picture"  />
    <img id="3d" src="{{ 3d_url }}"  height="200px" alt="3d" title="3D model"  />
</div>

<hr />

<button class="btn btn-primary">START</button>
&nbsp;&nbsp;
<button class="btn btn-secondary">STOP</button>

{% endblock %}
