{% extends "base2.html" %}
{% load crispy_forms_tags %}

{% block title %}
Scan Picture
{% endblock %}

{% block content %}
<h3>Scan Picture</h3>
<div id="scanner">
    <form>
        <label class="" for="scanner">Scanner</label>
        <select id="scanner" class="xcustom-select" name="deviceid" onchange="submit();">
            {% for s in scannerlist %} 
             <option value="{{ s.serial }}" {{ s.selected }}>{{ s.nameid}}</option>
            {% endfor %}
        </select>
        Power:
        <meter value="{{ power }}" min="0" max="100" low="25" high="80" optimum="90" title="{{ power }}%">{{ power }}%
        </meter>
    </form>
    {{ active_device }}
</div>

</div>

{% endblock %}