{% extends "web/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Scan Picture
{% endblock %}

{% block content %}
<div id="scanner">
    <form>
    {% include "web/device_select.html" %}
    </form>   
</div>
<div id="pictures" style="height:300px; width:300px; background-color: antiquewhite;float:left;">

</div>
<div class="liveview" style="height:300px; width:300px; background-color: lightblue;float:left; ">
    <img src="{{ scan_url }}" height=300 width=300>
</div>
<div style="clear: both;">
<a href = "{% url 'scan_pic' %}" class="btn btn-primary">Start Capture</a>

<a href = "{% url 'show_pic' %}" class="btn btn-primary">Stop Capture</a>
</div>
{% endblock %}

{% block script %}
<script>
    $("#menu1_scanpic").addClass("active");
</script>
{% endblock %}